
.container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
}

.h1__title {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 0.05rem;
}

.h1__sub-heading {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 0.05rem;
}

p__sora {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
}

@media screen and ()